@import "tailwindcss";

:root {
  --background: #f1f1f1;
  --foreground: #171717;
}

body {
  background: #f1f1f1;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* nav bar */

.nav{
  background: #002c52;
  color: #f1f1f1;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 0.5rem;
}

.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  max-width: 1200px;
}

.nav-logo{
  display: flex;
  align-items: center;
}

.nav-logo h1{
  font-weight: 900;
  font-size: 30px;
}

.mobile-nav{
  display: none;
}

.nav-logo h1 span{
  color: rgb(222, 190, 5);
}

.logo-text{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 900;
  white-space: nowrap;
}

.nav-search{    
  display: flex;
  position: relative;
  background: -o-linear-gradient(#ccc,#fff 50%);
  background: linear-gradient(#ccc, #fff 50%);
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), color-stop(50%, #fff));
  border-radius: 3px;
  color: #002c52;
  height: 30px;
  align-items: center;
  padding: 0px 0.2rem;
  width: 100%;
}

.nav-search input{
  border: none;
  font-size: 14px;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 36px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: top;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: #171717;
}

.btns{
  display: flex;
  justify-content: center;
  width: 30%;
  gap: 1rem;
}

.Header-Button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  border-radius: 2px;
  background: #07446f;
  padding: 2px 1.5rem;
  font-weight: 800;
  font-size: 13px;
  cursor: pointer;
  font-weight: 900;
}

.Header-Button span{
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Header-Button span p{
  font-size: 10px;
}

main{
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-container{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.banner{
  width: 100%;
  height: auto;
}

.sellers{
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

.sellers-container{
  display: flex;
  width: 100%;
  gap: 1rem;
}

.sellers-left{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  padding: 0 16px;
  height: fit-content;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px #999;
  box-shadow: 0 3px 3px #999;
  color: #002c52;
  padding: 16px;
  text-align: left;
}

.sellers-top h2{
  font-weight: 900;
  font-size: 20px;
}

.sellers-text-container{
  display: flex;
  flex-direction: column;
}

.sellers-left-item{
  display: flex;
  align-items: center;
  border-top: 1px solid #dadada;
}

.sellers-left-content{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.sellers-left-content span{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  width: 3.9rem;
  gap: 0.5rem;
}

.sellers-left-content span h1{
  font-size: 35px;
}

.sellers-text{
  display: flex;
  flex-direction: column;
}

.sellers-text span{
 border-left: 1px solid #dadada;
 padding-left: 0.5rem;
}

.sellers-text h3{
  font-weight: 900;
  font-size: 16px;
}

.sellers-text p{
  font-size: 14px;
}

.sellers-right{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 70%;
}

.sellers-Banner{   
  width: 100%;
  height: auto;
}

.recomendation{
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px #999;
  box-shadow: 0 3px 3px #999;
  color: #002c52;
  padding: 16px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}


.recomendation h1{
  font-size: 25px;
}

.recomendation p{
  border-top: 2px solid #e5e7eb;
  padding-top: 0.5rem;
  color: #5c5c5c;
}

/* SecondFooter */
.SecondFooter{
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px #999;
  box-shadow: 0 3px 3px #999;
  color: #002c52;
  padding: 2rem 8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

.SecondFooter-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.SecondFooter-container h1{
  font-weight: 900;
  font-size: 15px;
}

.SecondFooter-container ul{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1rem;
}

.SecondFooter-container li{
  list-style-type: disc;
  font-size: 12px;
}



/* Footer */

footer{
  background-color: #002c52;
  min-height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
}

footer ul{
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 2rem;
}

footer ul li{
  padding: 0px 2rem;
  border-right: 1px solid #dadada;
  font-size: 13px;
}

.eventim{
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px #999;
  box-shadow: 0 3px 3px #999;
  color: #002c52;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

.eventim-top{
  padding-bottom: 20px;
  border-bottom: 1px solid #dadada;
  font-size: 20px;
  font-weight: 900;
}

.eventim-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 5rem;
  padding: 1rem;
}

.eventim-text h2{
  font-size: 25px;
}

.eventim-text p{
  font-size: 15px;
}

.eventim-container button{
  width: 18rem;
  text-align: center;
  background: #fabb00;
  border-color: transparent;
  color: #fff;
  padding: 0.8rem 0;
}


.tickets{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px #999;
  box-shadow: 0 3px 3px #999;
  color: #002c52;
  padding: 20px;
  margin-top: 2rem;
}

.tickets-top{
  padding-bottom: 20px;
  border-bottom: 1px solid #dadada;
  font-size: 20px;
  font-weight: 900;
}

.tickets-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 1rem;
}

.ticket-content{
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  padding: 0 2rem;
}

.ticket-text h1{
  font-weight: 500;
  font-size: 25px;
}

.ticket-text p{
  font-size: 14px;
}


/* Auth */
.auth-nav{
  background-color: #202867;
  display: flex;
  align-items: center;
  min-height: 75px;
  padding: 0 1rem;
  width: 100%;
  justify-content: center;
}

.auth-nav-container{
  display: flex;
  width: 100%;
  max-width: 1200px;
}


.auth-logo{
  display: flex;
  align-items: center;
}

.auth-logo h1{
  font-weight: 900;
  font-size: 30px;
  color: #fff;
}

.auth-logo h1 span{
  color: rgb(222, 190, 5);
}

.login{
  height: 55rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 1rem;
}

.login-container{
  display: flex;
  width: 100%;
  max-width: 800px;
  -webkit-box-shadow: 0 3px 3px #999;
  box-shadow: 0 3px 3px #999;
  border-radius: 10px;
  height: 100%;
}
.login-left{
  height: 100%;
  background-color: #202867;
  display: flex;
  width: 40%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 2rem;
}

.login-left h1{
  font-weight: 900;
  color: #fff;
  font-size: 25px;
}

.login-right{
  height: 100%;
  width: 60%;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  gap: 1rem;
}

.login-right h3{
  font-weight: 600;
  font-size: 20px;
  color: #202867;
}

.login-input{
  display: flex;
  width: 100%;
  gap: 0.5rem;
  flex-direction: column;
}

.login-input ul{
  display: flex;
  flex-direction: column;
}

.login-input ul span{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.login-input p{
  font-size: 14px;
  color: #40648e;
}

.login-input input{
  border: 1px solid #568acf;
  border-radius: 12px;
  background: #ffffff;
  color: #26216C;
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  outline: none;
}

.login-right button{
  border: none;
  background-color: #416BDE;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 18px;
  min-height: 42px;
  border-radius: 12px;
  color: #ffffff;
  font-weight: 600;
}

.login-right .reg-pass{
  color: #416BDE;
  background-color: #ffffff;
  border: 1px solid #139df4;;
}

.login-right hr{
  overflow: auto;
  margin-top: 24px;
  background: #26216C;;
}

.login-container p{
  color: #40648e;
  font-size: 13px;
}

.authNav{
  display: flex;
  width: 100%;
  border-top: 1px solid #dadada;
  justify-content: center;
  gap: 10rem;
  font-size: 13px;
  padding: 1rem;
  color: #139df4;
}

.authNav-left{
  display: flex;
  gap: 1rem;
}

.authNav-right-top{
  display: flex;
  justify-content: space-between;
}

.authNav-right{
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


/* biglietti */

.biglietti-top p{
  color: rgb(87, 87, 87);
  font-size: 15px;
}

.resale{
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px #999;
  box-shadow: 0 3px 3px #999;
  color: gray;
  padding: 10px;
  margin-top: 0.5rem;
}

.cremonini{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
}

.cremonini-container{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px #999;
  box-shadow: 0 3px 3px #999;
  width: 100%;
  margin: 1rem 0;
}

.cremonini-top{
  height: 8rem;
  width: 100%;
  background: rgb(165, 164, 164);
}

.cremonini-bottom{
  width: 100%;
  height: 3rem;
}

.cremonini-content{
  position: absolute;
  display: flex;
  top: 2rem;
  left: 5rem;
  gap: 3rem;
}

.cremonini-img{
  padding: 0.25rem;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 3px #999;
  box-shadow: 0 3px 3px #999;
  height: fit-content;
}

.creIMG{
  max-height: 10rem;
}

.cremonini-text{
  display: flex;
  flex-direction: column;
  color: #fff;
}

.cremonini-text h1{
  font-size: 40px;
}

.cremonini-text p{
  font-size: 30px;
}

.offers{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.offers-top{
  display: flex;
  width: 100%;
  background: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.offers-top-left{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.offers-top-left h1{
  font-size: 24px;
}

.offers-top-right{
  display: flex;
  gap: 0.5rem;
}

.box-offer{
  padding: 0.5rem;
  -webkit-box-shadow: 0 3px 3px #999;
  box-shadow: 0 3px 3px #999;
  color: rgb(165, 164, 164);
}

.offers-container{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
}

.offers-left{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dish{
  display: flex;
  background: #fff;
  margin-top: 3px;
  padding: 0 0.5rem 0.5rem 0.5rem;
  cursor: pointer;
}
.dish-left{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
  font-weight: 500;
  width: 5rem;
}

.dish:hover, .buy-top:hover{
  background: #fef2cc;
}

.dish-right{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-left: 1rem;
  border-left: 2px solid #dadada;
  padding: 0.5rem;
}

.dish-right span{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 15px;
  font-weight: 500;
}

.dish_coin .PiHandshake{
  background: rgb(47, 47, 136);
  color: #fff;
  font-weight: 900;
  padding: 0.2rem;
  border-radius: 50%;
  font-size: 25px;
}

.dish_coin .FaCheck{
  background: rgb(65, 132, 65);
  color: #fff;
  font-weight: 900;
  padding: 0.2rem;
  border-radius: 50%;
  font-size: 25px;
}


.buy{
  display: flex;
  width: 100%;  
  margin-top: 2px;
  padding: 1rem;
  flex-direction: column;
}

.buy-top{
  display: flex;
  width: 100%;
  border-bottom: 1px solid #dadada;
  padding-bottom: 1rem;
  cursor: pointer;
}

.buy-top-left{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 100%;
  color: #dadada;
  font-size: 20px;
}

.buy-top-right{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  border-left: 1px solid #dadada;
  padding-left: 1rem;
  font-size: 13px;
  color: #636363;
}

.buy-top-right span{
  display: flex;
  gap: 2px;
}

.buy-info{
  color: #636363;
  font-size: 14px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buy-info span{
  display: flex;
  justify-content: space-between;
}

.buy-info span h1{
  font-size: 20px;
  font-weight: 600;
}

.buy-info .vat{
  display: flex;
  justify-content: end;
  font-size: 16px;
  margin-top: -0.5rem;
}

.buy button{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  background: #FBC933;
  color: #fff;
  margin-top: 1rem;
  font-weight: 900;
  font-size: 13px;
}

.fav{
  display: flex;
  justify-content: space-between;
  font-weight: 900;
}

.fav-left{
  display: flex;
  gap: 0.2rem;
  align-self: center;
  margin-top: 1rem;
}

.fav-left p{
  font-size: 10px;
}

.offers-right{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.map{
  height: 50%;
  width: 100%;    
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 900;
  color: #636363;
}

.place{
  height: 100%;
  width: 100%;
  padding-left: 5px;
}

.place-container{
  height: 100%;
  width: 100%;
  background: #fff;
  padding: 0.5rem;
  position: relative;
  font-size: 12px;
  font-weight: 900;
  color: #636363;
}

.place-container p{
  position: absolute;
  display: flex;
  align-items: center;

}

.select_other{
  top: 30%;
  left: 40%;
}

.place_other{
  bottom: 40%;
  left: 20%;
}

.jhgvbdnkh{
  color: #FBC933;
  font-size: 30px;
}

.place_other .jhgvbdnkh{
  color: #3397fb;
}


@media (max-width: 769) {

  .nav{
    height: fit-content;
    width: 100%;
  }

  .nav-container{
    flex-direction: column;
    width: 100%;
  }

  .nav-logo{
    display: flex;
    align-items: center;
    width: 100%;
    /* position: fixed; */
  }

  .logo-text{
    display: none;
  }

  .btns{
    width: 100%;
  }

  .menuHead{
    display: none;
  }

  .jhgbduhjssjd{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .mobile-nav{
    display: flex;
    justify-content: end;
    gap: 0.5rem;
    width: 100%;
  }

  main{
    margin-top: 10rem;
  }
  
  .sellers-left{
    width: 50%;
  }

  .sellers-right{
    grid-template-columns: 1fr;
    width: 50%;
  }

  footer ul li{
    font-size: 12px;
  }

  .SecondFooter{
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
    }

  .cremonini-content{
    left: 1rem;
    gap: 1rem;
  }

  .cremonini-text h1{
    font-size: 30px;
  }
  .cremonini-text p{
    font-size: 15px;
  }
    
  .offers-container{
    grid-template-columns: 1fr 1fr;
  }

}


@media (max-width: 669) {
  .sellers-container{
    flex-direction: column;
  }
  .sellers-left, .sellers-right{
    width: 100%;
  }
  .cremonini-content{
    left: 0.5rem;
    gap: 0.5rem;
  }
  .cremonini-text h1{
    font-size: 25px;
  }
  .cremonini-text p{
    font-size: 13px;
  }
    
  .offers-container{
    display: flex;
    flex-direction: column;
  }

  .offers-right{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40rem;
  }
}




.admin{
  height: 100%;
  width: 100%;
  display: flex;
}

.sidebar{
  display: flex;
  height: 100%;
  width: 25%;
}

.sidebar-container{
  display: flex;
  height: 100%;
  width: 25%;
  background: #030608;
  position: fixed;
  padding: 1rem;
  flex-direction: column;
  gap: 2rem;
}


.sidebar-content{
  display: flex;
  flex-direction: column;
  color: #fff ;
  gap: 1rem;
}

.sidebar-content span{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  background: #111531;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: 900;
}

.sidebar-content p{
  font-size: 15px;
}

.dash{
  display: flex;
  width: 75%;
  height: 100%;
  min-height: 100vh;
  padding: 1rem;
  flex-direction: column;
}

.dash-top{
  display: flex;
  justify-content: space-between;
}

.dash-top span{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  border-radius: 10px;
  font-weight: 900;
  font-size: 30px;
}

.btn-admin{
  display: none;
}

.dash-container{
  padding: 1rem;
  display: flex;
  width: 100%;
}

.dash-content{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

.labels{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.label{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}

.label h2{
  font-weight: 900;
  font-size: 15px;
}

.label input{
  height: 3rem;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #111531;
  padding: 0.5rem;
}

.dash-content button{
  display: flex;
  width: 100%;
  background: #122532;
  height: 3rem;
  margin-top: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 10px;
  font-weight: 900;
  cursor: pointer;
}

.tickets_admin{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px #999;
  box-shadow: 0 3px 3px #999;
  color: #002c52;
  padding: 20px;
  margin-top: 2rem;
}

.tickets_admin-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 14px;
}

.tickets_admin-top{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  width: 100%;
}

.artist-manage{
  background: rgb(217, 217, 217);
  padding: 0.5rem;
  align-items: center;
  border-radius: 5px;
}

.artist-manage button{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(8, 16, 39);
  color: white;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}



@media (max-width: 900) {
  .sidebar{
    width: 30%;
  }

  .sidebar-container{
    width: 30%;
  }

  .dash{
    width: 70%;
  }
}

@media (max-width: 769) {
  .sidebar{
    width: 4rem;
  }

  .sidebar-container{
    width: 4rem;
    padding: 0.5rem;
  }

  .auth-logo h1{
    font-size: 12px;
  }

  .sidebar-content span p{
    display: none;
  }
  
  .dash{
    width: 100%;
  }

  .btn-admin{
    display: block;
  }

  .tickets_admin-top{
    grid-template-columns: 3fr 1fr 1fr;
  }

  .locationInfo{
    display: none;
  }

  .labels{
    flex-direction: column;
  }
}